header {
  display: flex;
  justify-content: space-between;

  background-color: grey;
}

button {
  margin-left: 8px;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  max-width: 350px;
  background-color: aquamarine;
}
